.innerSinglePostWrapper {
  display: flex;
  margin-bottom: 15px;
}
.innerSinglePostTitle {
  font-size: 14px;
}
.innerSinglePostLink {
  font-size: 12px;
}
.innerSinglePostContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

.innerSinglePostImg {
  width: 118px;
  height: 82px;
}
.innerSinglePostContentWrapper > p {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.innerSinglePostContentWrapper > p > span > img {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
  margin-right: 3px;
  opacity: 0.7;
}
.innerSinglePostContentWrapper > p > span {
  font-size: 10px;
  display: flex;
  align-items: center;
  opacity: 0.7;
}
