.single-new {
  display: flex;
}
.news-container {
  overflow: hidden;
}
.mobile {
  display: none;
}
.single-new-image {
  width: 320px;
  height: 240px;
  border-radius: 15px;
}
.single-new-right {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding-left: 15px;
}
.single-new-date {
  color: rgb(155, 155, 155);
  text-align: end;
  font-size: 14px;
}
.single-new-content {
  line-height: 1.45;
  padding-top: 25px;
}
.single-new-title {
  color: var(--color3);
  font-size: 24px;
}
.single-new {
  padding: 15px 0;
}
.news-main-title {
  text-align: center;
  padding: 15px 0;
  font-size: 36px;
  color: var(--color1);
}
.single-new-continue {
  color: var(--color3);
}
.single-new-continue:hover {
  color: var(--color2);
}
.btn-filter {
  margin-left: 15px;
  display: inline-block;
  padding: 15px 28px;
  text-transform: uppercase !important;
  font-weight: 500 !important;
}
.btn-filter:first-child {
  margin-left: 0;
}
.btn-filter:hover {
  background: var(--color3);
}
.pagination-button {
  background: var(--color3);
  border-radius: 3px;
  margin: 0 2px;
  padding: 4px 6px;
  outline: none;
  color: var(--color1);
  border: 1px solid var(--color2);
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Roboto";
  min-width: 40px;
}
.pagination-container {
  text-align: center;
}
.pagination-button:hover {
  background-color: var(--color2);
}
#news > div:nth-child(2) > button:nth-child(2) {
  margin-left: 0;
}
.pagination-container {
  padding-bottom: 25px;
}
.pagination-button:disabled {
  opacity: 0.5;
}
@media only screen and (max-width: 540px) {
  .pagination-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }
  .pagination-button {
    display: inline-block;
  }

  .news-filter-btns {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .btn-filter {
    margin-left: 5px;
    display: inline-block;
    padding: 12px 18px;
    text-transform: uppercase !important;
    font-weight: 500 !important;
  }
  .btn-filter:first-child {
    margin-left: 0;
  }
  .mobile {
    display: block;
  }
  .single-image {
    display: none;
  }
  .single-new-title {
    text-align: center;
    padding: 15px 0;
  }
  .single-new-right {
    padding: 15px 10px;
    align-items: center;
  }
  .single-new-date {
    padding: 15px 0;
    align-self: flex-end;
  }
  .single-new-image {
    width: 355px;
    height: 255px;
  }
  .single-new-content {
    padding: 15px 0;
  }
  .news-container {
    padding: 0;
  }
}
