.top-rates {
  height: 55px;
}
.top-rates-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.top-rates-right {
  width: 140px;
  padding-left: 5px;
}
.top-rates-left {
  width: 140px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
.top-rates-left > a:hover {
  background: var(--color4);
  color: var(--color1);
}
.top-rates-mid {
  width: 860px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.top-rates-mid-inner {
  position: absolute;
  display: flex;
  align-items: center;
  animation: slide 180s infinite linear;
}
.top-rates-mid-single-rate {
  min-width: 160px;
  text-align: center;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-15150px);
  }
}
@media only screen and (max-width: 540px) {
  .top-rates-left > a {
    padding: 10px 12px;
  }
  .top-rates-mid {
    width: 100%;
  }
  .top-rates-container {
    width: 100%;
  }
  .top-rates-left {
    padding-left: 10px;
    padding-right: 5px;
  }
  .top-rates-container {
    border-radius: 0;
  }
  .top-rates-right {
    margin-right: 5px;
    font-size: 14px;
  }
}
