.urlWrapper {
  display: flex;
}
.postAside {
  width: 30%;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 540px) {
  .urlWrapper {
    flex-direction: column;
  }
  .postAside {
    width: 100%;
    margin-top: 25px !important;
  }
}
